/*-- scss:defaults --*/
.quarto-title-block .quarto-title-banner {
  background-image: url(images/DigitalSkillsLab.png);
  background-size: 300px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}
